<!DOCTYPE HTML>
<html>
<head>
    <title>Home page</title>
</head>
<body>
<center>
    {{#msg}}
        {{msg}}
        </br>
    {{/msg}}
    <a href=" /upload">Upload</a> </br>
    <a href="/processing">Processing</a>
</center>
</body>
</html>