<!DOCTYPE HTML>
<html>
<head>
    <title>Info</title>
</head>
<body>
<center>
    {{#msg}}
        {{msg}}
        </br> </br>
    {{/msg}}


    <a href="/processing/info/working">Information about working employees</a> </br>
    <a href="/processing/info/fired">Information about fired employees</a> </br>

    </br>
    <a href="/processing">Back to previous page</a> </br>
    <a href="/">Back home</a>
</center>
</body>
</html>