<!DOCTYPE HTML>
<html>
<head>
    <title>Movement</title>
</head>
<body>
<center>
    {{#msg}}
        {{msg}}
        </br>
    {{/msg}}
    <form action="/processing/movement" method="post">
        <div><label> Input employee's first and last name to find him: <input type="text" name="fullName"/> </label></div>
        <div><input type="submit" value="Find"/></div>
    </form>

    </br>
    <a href="/processing/">Back to previous page</a> </br>
    <a href="/">Back home</a>
</center>
</body>
</html>