<!DOCTYPE HTML>
<html>
<head>
    <title>isPresent</title>
</head>
<body>
<center>
    {{#msg}}
        {{msg}}
        </br> </br>
    {{/msg}}

    <form action="/processing/isPresent/handleIsPresentForNew" method="post">
        <div><label> Enter attendance of employee <input type="text" name="isPresent"/> </label></div>
        <div><input type="submit" value="Ok"/></div>
    </form>



    <a href="/processing/isPresent">Back to previous page</a> </br>
    <a href="/">Back home</a>
</center>
</body>
</html>