<!DOCTYPE HTML>
<html>
<head>
    <title>Working</title>
</head>
<body>
<center>
    {{#msg}}
        {{msg}}
        </br> </br>
    {{/msg}}


    <a href="/processing/info/working/dptList">Departments list</a> </br>
    <a href="/processing/info/working/emplList">Employees list</a> </br>


    <a href="/processing/info">Back to previous page</a> </br>
    <a href="/">Back home</a>
</center>
</body>
</html>