<!DOCTYPE HTML>
<html>
<head>
    <title>Add employee</title>
</head>
<body>
<center>

    <form action="/upload/changeInfo/saveChanges" method="post">
        {{#firstName}}
            <div><label> Change firstName : <input type="text" name="firstName"/> </label></div>
            </br>
        {{/firstName}}

        {{#lastName}}
            <div><label> Change lastName : <input type="text" name="lastName"/> </label></div>
            </br>
        {{/lastName}}

        <div><input type="submit" value="Save changes"/></div>
    </form>

    <a href="/upload/">Back to previous page</a>
    </br>
    <a href="/">Back home</a>
</center>
</body>
</html>