<!DOCTYPE HTML>
<html>
<head>
    <title>Home page</title>
</head>
<body>
<center>
    {{#msg}}
        {{msg}}
    {{/msg}}

    {{#msgList}}
        <b>List of active meetings: </b>
        </br>
    {{/msgList}}

        <!--    {{#MList}}-->
    <!--        <b>{{title}}</b>-->
    <!--        </br>-->
        <!--    {{/MList}}-->

        <!--    {{#MListFull}}-->
    <!--        {{personSet.get}}-->
        <!--    {{/MListFull}}-->

    {{#MList}}
        <b>{{#personSet}}
            {{name}}
            </br>
        {{/personSet}}</b>
        </br>
    {{/MList}}

    <form action="/meeting" method="post">
        <div><label> To view the details about concrete meeting input title:
            <input type="text" name="title"/> </label></div>
        <div><input type="submit" value="Find"/></div>
    </form>
    </br>

    <a href=" /addMeeting">Add meeting</a> </br>
    </br>

    <a href=" /cancelMeeting">Cancel meeting</a> </br>
    </br>

    <a href="/viewFull">View full list of meetings&participants</a> </br>
    </br>
</center>
</body>
</html>