<!DOCTYPE HTML>
<html>
<head>
    <title>Change information</title>
</head>
<body>
<center>
        List of employees</br>
    {{#notExists}}
        {{notExists}}
    {{/notExists}}

    {{#exists}}
        <div>
            <b>{{firstName}}</b>
            <span>{{lastName}}</span>
        </div>
    {{/exists}}

    {{#present}}
    <form action="/upload/changeInfo/chosenEmpl" method="post">
        <div><label> Choice full name employee to change : <input type="text" name="employeeName"/> </label></div>
        <div><input type="submit" value="OK"/></div>
    </form>
    {{/present}}

</br>
    <a href="/upload/">Back to previous page</a>
    </br>
    <a href="/">Back home</a>
</center>
</body>
</html>