<!DOCTYPE HTML>
<html>
<head>
    <title>Change</title>
</head>
<body>
<center>
    {{#msg}}
        {{msg}}
        </br>
    {{/msg}}

    {{#working}}
        <form action="/processing/movement/decisionWorking" method="post">
            Fire an employee or relocate him to other department?</br>
            <select name="decision">
                <option name="fire">FIRE</option>
                <option name="relocate">RELOCATE</option>
            </select>
            <div><input type="submit" value="Ok"/></div>
        </form>
    {{/working}}

    {{#workingRelocate}}
        </br>
        <form action="/processing/movement/decisionWorking/relocate" method="post">
            <div><label> Input title of a new department <input type="text" name="dptName"/> </label></div>
            <div><input type="submit" value="Ok"/></div>
        </form>
    {{/workingRelocate}}

    {{#new}}
        </br>
        <form action="/processing/movement/decisionNew" method="post">
            <div><label> Input title of a new department <input type="text" name="dptName"/> </label></div>
            <div><input type="submit" value="Ok"/></div>
        </form>
    {{/new}}

    </br>
    <a href="/processing/">Back to previous page</a> </br>
    <a href="/">Back home</a>
</center>
</body>
</html>