<!DOCTYPE HTML>
<html>
<head>
    <title>Processing</title>
</head>
<body>
<center>
    {{#msg}}
        {{msg}}
        </br> </br>
    {{/msg}}
    <a href="/processing/movement">Processing of movement</a> </br>
    <a href="/processing/info">Information about employees</a> </br>
    <a href="/processing/isPresent">Accounting of present and absent</a> </br>
    <a href="/">Back home</a>
</center>
</body>
</html>