<!DOCTYPE HTML>
<html>
<head>
    <title>Edit information</title>
</head>
<body>
<center>
    <form action="/upload/changeInfo/editInfo" method="post">
        <p><b>Which information you want to change?</b></p>
        <input type="checkbox" name="firstName">firstName<Br>
        <input type="checkbox" name="lastName">lastName<Br>
        <p><input type="submit" value="Confirm"><Br>
    </form>

    </br>
    <a href="/upload/changeInfo">Back to previous page</a>
    </br>
    <a href="/">Back home</a>
</center>
</body>
</html>