<!DOCTYPE HTML>
<html>
<head>
    <title>Upload</title>
</head>
<body>
<br>
<center>
    {{#msg}}
        {{msg}}
        </br> </br>
    {{/msg}}
    <a href="/upload/addToBase">Add new employee</a> </br>
    <a href="/upload/changeInfo">Change info about existing employee</a> </br>
    <a href="/">Back home</a>
</center>
</body>
</html>