<!DOCTYPE HTML>
<html>
<head>
    <title>Add employee</title>
</head>
<body>
<center>

    <form action="/upload/addToBase" method="post">
        <div><label> FullName : <input type="text" name="emplName"/> </label></div>
        <div><input type="submit" value="Add"/></div>
    </form>



    <a href="/upload/">Back to previous page</a>
    </br>
    <a href="/">Back home</a>
</center>
</body>
</html>