<!DOCTYPE HTML>
<html>
<head>
    <title>Fired</title>
</head>
<body>
<center>
    {{#firedEmpls}}
        <b>{{firstName}} {{lastName}} was {{status.toString}} from {{department.getTitle.toUpperCase}} department</b>
        </br>
    {{/firedEmpls}}

    <a href="/processing/info">Back to previous page</a> </br>
    <a href="/">Back home</a>
</center>
</body>
</html>