<!DOCTYPE HTML>
<html>
<head>
    <title>Error</title>
</head>
<body>
<br>
<center>
    {{#msg}}
        {{msg}}
        </br>
    {{/msg}}
    {{#personList}}
        {{name}}
        </br>
    {{/personList}}

    <form action="/meeting/addPerson" method="post">
        <div><label> To add new person input the name:
            <input type="text" name="name"/> </label></div>
        <div><input type="submit" value="Add"/></div>
    </form>
    </br>

    <form action="/meeting/deletePerson" method="post">
        <div><label> To delete existing person input the name:
            <input type="text" name="name"/> </label></div>
        <div><input type="submit" value="Delete"/></div>
    </form>
    </br>

    <form action="/meeting/sendMail" method="post">
        <div><label> To send emails to all meeting participants :
        <div><input type="submit" value="Send"/></div>
    </form>
    </br>

    <form action="/meeting/cancelMeeting" method="post">
        <div><label> To cancel the meeting click here:
            <div><input type="submit" value="Puff"/></div>
    </form>
    </br>




    <a href="/">Back home</a>
</center>
</body>
</html>